.pl {
    color: black;
    font-weight: bold;
}
.playerimg {
    border-radius: 50% !important;
    height: 290px;
    width: 280px;
    padding: 23px;
}

.browser-btn {
    width: 100%;
    position: absolute;
    left: 0;
    height: 39px;
    opacity: 0;
} 

/*print css*/
.bodyblackchq {
    font-family: courier;
    font-size: 16px;
    color: #333333;
    line-height: 10pt
}

.bodyblacksml {
    font-size: .8em;
    color: #000000;
}

.bodyblack {
    color: #333333;
}

.doc {
    position: relative;
}

.voucherprint {
    position: relative;
    margin-top: 115px;
    margin-left: 50px;
}

.vouchernoprint {
    position: absolute;
    top: 0px;
    left: 70px;
}

.nameprint {
    position: absolute;
    top: 80px;
    left: 10px;
}

.address1print {
    position: absolute;
    top: 100px;
    left: 10px;
}

.address2 {
    position: absolute;
    top: 120px;
    left: 10px;
}

.cityprint {
    position: absolute;
    top: 140px;
    left: 10px;
}

.valueofprint {
    position: absolute;
    top: 40px;
    left: 300px;
}

.valueprint {
    position: absolute;
    top: 55px;
    left: 300px;
}

.terms {
    position: absolute;
    top: 95px;
    left: 300px;
}

.tcc {
    position: absolute;
    top: 115px;
    left: 300px;
}

.expiry {
    position: absolute;
    top: 115px;
    left: 430px;
}

.sig {
    position: absolute;
    top: 155px;
    left: 420px;
}

@media print {
    #header, #footer {
        visibility: hidden !important;
        display: none !important;
    }
}
